* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.now-playing-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.album-art-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 50%;
}

.entry-metadata-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1dvh;
  font-family: "Jost";
  container-type: size;
}

.title {
  font-weight: bold;
  font-size: 4rem;
  max-width: 100%;
  font-size: min(10cqh, 8cqi);
  text-overflow: ellipsis;
}