{% extends "plugin.html" %}

{% block content %}

<div class="now-playing-container" style="--font-scale: {{ font_scale }};">
    <div id="album-art-container">
        {% if cover_art_url %}
        <img id="album-art" src="{{ cover_art_url }}" alt="Album cover" />
        {% endif %}
    </div>
    {% if display_id3_metadata %}
    <div id="entry-metadata-container">
        
        <h1 class="title">{{ title }}{% if starred %} {{♥}}{% endif %}</h1>
        <h2>{{ artist }}</h2>
        <h2>{{ album }}</h2>
    </div>
    {% endif %}
</div>
{% endblock %}

