* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.now-playing-container {
  font-family: "Jost";
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 5px;
  grid-template-areas:
    ". ."
}

.title {
  font-weight: bold;
  font-size: 4rem;
  max-width: 100%;
  font-size: min(10cqh, 8cqi);
  text-overflow: ellipsis;
}